<div class="container">
  
  <div class="mx-aunto flex-row d-flex justify-content-center mt-5">
    <div class="card contain" style="width: 50%;">
      <div class="card-body">
        <h6 class="card-title">Información básica</h6>
        <p class="card-text">Presentamos toda la información de la persona registrada en el sistema.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombres: {{ dataPerson.firstName }} {{ dataPerson.middleName }}</li>
        <li class="list-group-item">Apellidos: {{ dataPerson.firstLastName }} {{ dataPerson.middleLastName }}</li>
        <li class="list-group-item">Ciudad Residencia: {{ dataPerson.cityResidence }}</li>
        <li class="list-group-item">phone: {{ dataPerson.phone }}</li>
      </ul>
      <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="onBack()">vovler</button>
      </div>
    </div>
  </div>


</div>
