<div class="container">
    <div class="mx-aunto flex-row d-flex justify-content-end mt-5">
        <button type="button" class="btn btn-primary" (click)="onSearch()">Resumen Persona</button>
    </div>
    <div class="mx-aunto flex-row d-flex justify-content-center mt-3 contain">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Ciudad</th>
                </tr>
            </thead>
            <tbody>
                @for (person of dataPersons; track person.id; let i = $index) {
                    <tr>
                        <td>{{ person.firstName }} {{ person.middleName }} </td>
                        <td>{{ person.firstLastName }} {{ person.middleLastName }} </td>
                        <td>{{ person.cityResidence  }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


